body{
    background-color: #2b5ea1;
    color: #fff;
}
header .logo{
    width: 50px;
    height: 50px;
}
.heading{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 150px;
}
.bg-dawn{
    background-image: url('../images/dawn-bg.jpg');
}
.bg-day{
    background-image: url('../images/day-bg.jpg');
}
.bg-dusk{
    background-image: url('../images/dusk-bg.jpg');
}
.bg-night{
    background-image: url('../images/night-bg.jpg');
}
.bg-fade{
    background-color: rgb(255 255 255 / 14%);
}
.w-stat {font-size: 20px;}
img.wimg {
    width: 100px;
    height: 100px;
}
#contain{display: none;}
.loader{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader:before{
    content:"";
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-image: url('../images/clear.svg');
    background-position: center;
    background-size: contain;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
.txt-shadow{
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}
.bg-weather{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    height: 175px;
}
.weather-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-color: #004291;
}
.weather-update img{
    width: 80px;
    height: 80px;
}
.wStat {
    font-size: 20px;
}
.rounded-left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dp {
    background: #ccc;
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;
    width: 120px;
    height: 120px;
}
.dp img {
    height: 120px;
}
@media only screen and (max-width: 480px){
    .heading h1 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 380px){
    .weather-update img {
        width: 65px;
        height: 65px;
    }
    .wStat ~ span {
        font-size: 15px;
    }
}